:root{

}
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background: mintcream;
    color: rgb(34, 211, 196);
}
a:link, a:visited {
    color: rgb(34, 211, 196);
    text-decoration: none;
}