/* Colors I want to add: #ECFAE5, #DDF6D2, #CAE8BD, #B0DB9C  */

body {
  margin: 10px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #ECFAE5;
  color: black;
  -webkit-font-smoothing:antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.4;

}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px 0;
  flex: 1;
}
/* ===== Content ===== */
nav a {
  color: #a9c7ff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

nav a:hover {
  color: #6fb6ff;
}

h2, h3 {
  color: #B0DB9C;
}

h3 a {
  color: #6fb6ff;
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
}

/* Project images */
img {
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* Footer */
footer {
  color: black;
  font-size: 0.9rem;
}

.form-group {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack labels and inputs vertically */
  gap: 1rem; /* Increased gap for better spacing */
  margin: 15px 0;
  font-family: "Poppins", sans-serif;
}

label {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: .2rem;
}

input, textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
  border-color: #6fb6ff;
  box-shadow: 0 0 5px rgba(111, 182, 255, 0.5);
  outline: none;
}