*{

}

body {
    font-family: Arial, sans-serif;
    background-color: #305669;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B7E5CD;
    color: white;
    padding: 10px 0;


}

h1 {
    margin: 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #B7E5CD;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

footer {
  color: white;
}